<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

	<Identity
	  Name="86b30b31-d106-48f9-8dce-4ade4571cfa1"
	  Publisher="CN=9ed98b67-0504-42f8-a6aa-c1fed23a6b1b"
	  Version="1.0.0.0" />

	<mp:PhoneIdentity PhoneProductId="ec0cc741-fd3e-485c-81be-68815c480690" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>Motorsazan.CustomersApp.UWP</DisplayName>
		<PublisherDisplayName>9ed98b67-0504-42f8-a6aa-c1fed23a6b1b</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
		<Resource Language="en" />
		<Resource Language="ar" />
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="Motorsazan.CustomersApp.UWP.App">
			<uap:VisualElements
			  DisplayName="Motorsazan.CustomersApp.UWP"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png"
			  Description="Motorsazan.CustomersApp.UWP"
			  BackgroundColor="transparent">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png">
					<uap:ShowNameOnTiles>
						<uap:ShowOn Tile="square150x150Logo" />
						<uap:ShowOn Tile="wide310x150Logo" />
						<uap:ShowOn Tile="square310x310Logo" />
					</uap:ShowNameOnTiles>
				</uap:DefaultTile>
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
			</uap:VisualElements>
		</Application>
	</Applications>

	<Capabilities>
		<Capability Name="internetClient" />
	</Capabilities>
</Package>